@import "global";

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #1E2024;
  padding: 10px 0;

  .header {
    @include df;

    &--logo {
      @include df2;

      h5 {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        margin-left: 10px;
        color: #FFFFFF;
      }
    }

    &--navbar {
      @include df;
      width: 50%;

      a {
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        transition: .4s;

        &:hover {
          transform: scale(1.1);
          color: white;
        }
      }
    }

    &--btn {
      @include df;
      width: 200px;

      button {
        @include btn;
      }
    }
  }
}


#hero {
  background: url("../img/Rectangle 2068.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    position: relative;

    &--bg {
      width: 112.5%;
      height: 200px;
      position: absolute;
      bottom: 0;
      left: -100px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 81.2%, #1E2125 100%);
    }

    &--text {
      width: 419px;
      padding: 120px 0 400px 0;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;


      h4 {
        padding: 15px 0 0 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }

      &__btn {
        padding: 30px 0;
        @include df;
        width: 300px;

        &--btn1 {
          @include btn;

          &:hover {
            transform: scale(1.1);
          }
        }

        &--btn2 {
          @include btn;

          &:hover {
            transform: scale(1.1);
          }

          font-weight: 700;
          font-size: 16px;
          text-transform: capitalize;
          color: #9099A3;
          border: 1px solid #9099A3;
          border-radius: 15px;
          padding: 8px 10px;
          background: transparent;
        }


      }

      &__club {
        font-size: 16px;
        color: #9099A3;
        margin-top: -500px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 150px 0;

        svg {
          padding: 0 10px;

        }
      }
    }
  }
}


#mission {

  .mission {
    h4 {
      position: absolute;
      width: 40%;
      font-weight: 400;
      font-size: 25px;
      line-height: 21px;
      color: #2C3E50;
      margin: 100px 0;
      padding: 10px 45px;
    }


    &--text {
      &__tittle {
        position: absolute;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;

        h5 {
          line-height: 30px;
          padding: 110px 0 0 760px;
          color: #2C3E50;
          width: 30%;
          font-size: 15px;
        }


      }

    }

    &--text {
      padding: 90px 0;
      color: white;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;

      h2 {
        position: absolute;
        padding: 300px 0 0 758px;
        color: #1E2023;
        font-size: 24px;
      }

    }

    img {
      padding: 70px 0;
      width: 1350px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    &--text {
      &__image {
        width: 411px;
        height: 411px;
        position: absolute;
        margin: -550px 0 0 -400px;
      }
    }

    &--text {
      &__five {
        position: absolute;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: #2C3E50;
        width: 394px;
        height: 222px;
        padding: 370px 0 0 788px;
        font-family: 'Poppins', sans-serif;

        h4 {
          font-weight: 800;
          font-size: 20px;
          line-height: 30px;
          color: #2C3E50;
          margin: 50px -40px;

        }

        h6 {
          position: absolute;
          margin: 130px 10px;
          font-size: 15px;
        }

        h3 {
          position: absolute;
          margin: 160px 10px;
          font-size: 15px;
        }

        img {
          position: absolute;
          width: 64px;
          height: 64px;
          margin: 50px 300px 0;
        }
      }
    }
  }
}

#formats {
  .formats {
    &__school {
      position: absolute;
      margin-left: -640px;

      button {
        position: absolute;
        margin-top: 100px;
      }

      ion-icon {
        position: absolute;
        margin-top: 110px;
      }

      &__text {
        position: absolute;
        margin-top: 10px;
        padding: 0 30px;
        margin-right: 1px;
      }
    }

    h2 {
      margin-left: 830px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #2C3E50;
      margin-top: -270px;
    }

    h1 {
      color: white;
      font-size: 36px;
    }

    &--tittle {

      &__05 {
        svg {
          margin-left: 160px;
          position: absolute;
        }

        h4 {
          position: absolute;
          margin-left: 160px;
        }

        h5 {
          margin-left: 160px;
          width: 400px;
          margin-top: -220px;
        }

        button {
          @include btn;
          margin-left: 460px;
        }

        ion-icon {
          position: absolute;
          margin-left: 460px;
        }

        h3 {
          margin-left: 510px;
        }

      }

      &__04 {
        button {
          position: absolute;
          margin-top: -110px;
        }

        ion-icon {
          position: absolute;
          margin-top: -100px;
        }
      }

      &__fon {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0;
      }

      &__fon2 {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0;
      }

      &__fon3 {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0;
      }

      &__line {
        position: absolute;
        margin: -1300px 0 0 240px;
      }

      &__fon {
        svg {
          position: absolute;
          margin-left: -500px;
          margin-top: -110px;

        }

        h3 {
          position: absolute;
          font-weight: 900;
          font-size: 29px;
          line-height: 36px;
          color: #9099A3;
          margin-top: -190px;
          margin-left: -270px;
        }

        h2 {
          position: absolute;
          margin-left: -630px;
          margin-top: -60px;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;

          color: #2C3E50;
        }

        h4 {
          position: absolute;
          margin-left: -610px;
          margin-top: 70px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #2C3E50;
        }


        button {
          @include btn;
          position: absolute;
          margin-top: 170px;
          margin-left: -300px;
        }

        ion-icon {
          position: absolute;
          color: #FFFFFF;
          margin-left: -200px;
          margin-top: 170px;
        }
      }
    }


  }

  svg {
    position: absolute;
    margin-left: 800px;
    margin-top: -330px;
  }

  h3 {
    position: absolute;
    font-weight: 900;
    font-size: 29px;
    line-height: 36px;
    color: #9099A3;
    margin-left: 1150px;
    margin-top: -310px;
  }

  h4 {
    position: absolute;
    margin-left: 800px;
    margin-top: -260px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2C3E50;
  }

  h5 {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2C3E50;
    margin-left: 800px;
    margin-top: -200px;
  }

  button {
    @include btn;
    position: absolute;
    margin-left: 1090px;
    margin-top: -130px;
  }

  ion-icon {
    position: absolute;
    color: #FFFFFF;
    margin-left: 1090px;
    margin-top: -120px;
    padding: 0 110px;
  }

}
